.contacts {
	padding-top: 80px;
	& > h1 {
		margin-top: 0;
	}
	&-list {
		& .accordion {
			& .card {
				margin: 0;
				margin-bottom: 10px;
				border-left: 4px solid #6a11cb;
				border-right: 4px solid #6a11cb;
				box-shadow: -5px 5px 16px -4px #000;
				transition: all 0.2s ease-in-out;
				&:hover {
					transform: scale(1.01);
				}
				&:first-child {
					margin-top: 0;
				}
				&-header {
					margin-bottom: 0;
					& h2 {
						display: flex;
						align-items: center;
					}
					a {
						display: flex;
						justify-content: space-between;
						background-color: transparent;
						align-items: center;
						text-decoration: none;
						&:hover {
							& .action-buttons {
								opacity: 1;
							}
						}
						& div {
							width: 25%;
							& p {
								font-weight: bold;
								color: #2575fc;
								&:last-child {
									color: #000;
									font-weight: 400;
								}
							}
							& .progress {
								width: 100%;
							}
						}
						& img {
							transform: rotate(180deg);
							transition: all 0.3s ease-in-out;
						}
						&.collapsed {
							& img {
								transform: rotate(0deg);
							}
						}
					}
					& .action-buttons {
						opacity: 0;
						display: flex;
						justify-content: center;
						& .btn:first-child {
							margin-right: 10px;
						}
					}
				}
				&-body {
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
					& .row {
						& div {
							p {
								line-height: 16px;
								&:first-child {
									color: #2575fc;
									font-weight: bold;
									margin-bottom: 5px;
								}
							}
							& small {
								font-size: 14px;
								opacity: 50%;
							}
							& .canals {
								display: flex;
								justify-content: space-between;
								width: 50%;
								flex-wrap: wrap;
								& p {
									font-size: 14px;
									font-weight: bold;
									color: #fff;
									background-color: #6a11cb;
									padding: 2px 8px;
									margin-right: 4px;
									border-radius: 4px;
									margin-bottom: 4px;
								}
							}
						}
					}
				}
			}
		}
	}
	&-buttons {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		a {
			color: #000;
			font-weight: bold;

			& div {
				width: 40px;
				display: inline-block;
				height: 40px;
				padding: 5px;
				background-color: #2575fc;
				border-radius: 50%;
				& img {
					width: 100%;
				}
			}
			&:hover {
				text-decoration: none;
				color: #6a11cb;
			}
		}
		& .btn {
			display: none;
			color: #fff;
			border-radius: 50px;
		}
		&-search {
			border: 2px solid #6a11cb;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px 10px;
			border-radius: 50px;
			&:hover {
				border: 2px solid #6a11cb;
			}
			& &-image {
				background-color: #fff;
				width: initial;
				height: initial;
				padding: 0;
				margin-right: 5px;
				& img {
					width: 24px;
				}
			}
		}
	}
}
